@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Asap:ital,wght@0,100..900;1,100..900&family=Chewy&family=Cookie&family=Dancing+Script:wght@400..700&family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@200..700&family=Protest+Riot&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background: linear-gradient(to top right, #f6d5f7, #fbe9d7);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  h1 {
    font-family: "Lobster Two";
    font-weight: lighter;
    text-align: center;
    position: relative;
    top: 35px;
    text-decoration: underline;
  }
}

#sidebar {
  width: 250px;
  height: 600px;
  position: fixed;
  left: 30px;
  top: 200px;
  padding: 10px;
  border-right: 1px solid black;

  & #search {
    display: block;
    margin: auto;

    & input {
      position: relative;
      left: 20px;
      font-family: "Dancing Script", sans-serif;
      font-size: medium;
      background: transparent;
      border: none;
      border-bottom: 1px solid black;
      text-align: center;

      &:focus {
        outline: none;
      }

      &::placeholder {
        text-align: center;
        font-family: "Dancing Script", sans-serif;
      }
    }
  }

  & #languages {
    margin-top: 10px;
    padding: 10px;
    width: 200px;
    height: 525px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    border: 1px solid black;
    border-radius: 10px;

    & button {
      font-family: "Asap";
      border: 1px solid black;
      border-radius: 5px;
      background: transparent;
      margin-bottom: 5px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

#container {
  width: 70%;
  height: 690px;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  left: 350px;
  top: 75px;
  box-shadow: 7px 7px 5px 0px rgb(192, 171, 171);

  #repositories {
    margin: auto;
    position: relative;
    width: 87.5%;

    top: 150px;
    display: flex;
    justify-content: space-around;

    & div {
      width: 225px;
      height: 350px;
      border: 1px solid black;
      border-radius: 10px;
      padding: 10px;
      text-wrap: wrap;

      & div {
        border: 1px solid black;
        width: 204px;
        height: 150px;
        top: 190px;
        text-wrap: wrap;
        position: absolute;

        & p {
          text-wrap: wrap;
          & a {
            text-align: center;
            width: 100px;
            text-wrap: wrap;
            font-size: small;
            color: black;

            &:visited {
              color: grey;
            }
          }
        }
      }

      & h1 {
        text-decoration: underline;
        font-size: medium;
        font-family: "Asap";
        font-weight: lighter;
      }

      & p {
        text-wrap: wrap;
        font-family: "Roboto Condensed", sans-serif;
      }
    }
  }

  #emptyList {
    font-family: "Cookie";
    font-size: larger;
    text-align: center;
    position: relative;
    top: 275px;
  }
  #emptyList.close {
    display: none;
  }

  #loader {
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 50%;
    top: 40%;
    & p {
      font-family: "Lobster Two";
      text-align: center;
    }
    display: none;
  }
  #loader.open {
    display: block;
  }

  & hr:first-of-type {
    position: absolute;
    top: 100px;
    left: 5%;
    width: 90%;
  }

  & hr:last-of-type {
    position: absolute;
    bottom: 120px;
    left: 5%;
    width: 90%;
  }

  #error {
    width: 300px;
    height: 150px;
    text-align: center;
    border: 1px solid red;
    border-radius: 10px;
    box-shadow: 4px 4px 5px 0px rgba(255, 0, 0, 0.5);
    margin: auto;
    display: none;
    position: relative;
    top: 230px;
    padding: 5px;
    & h1 {
      text-decoration: underline;
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 200;
    }

    & p {
      font-family: "Lobster Two", sans-serif;
    }

    &.open {
      display: block;
    }
  }
}
